*{
padding: 0;
margin: 0;
font-family: Arial, Helvetica, sans-serif;
box-sizing: border-box;
}
/* main-container */
.main-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(199, 148, 6);
}
/* nav-1 */
.nav-1{
    height: 100px;
    width: 100%;
    position: absolute;
    margin-top: -655px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.box-1 h1{
    color:  #fff;
    font-size: 17px;
    rotate: -40deg;
}
.box-1{
    height: 120px;
    width: 120px;
    background-color: black;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    rotate: 20deg;
    transition: .5s;
}
/* hover */
.box-1:hover{
    margin-left: 10px;
    margin-top: 10px;
}
.box-2:hover{
    margin-right: 10px;
    margin-top: 10px;
}
.box-3:hover{
    margin-left: 10px;
    margin-bottom: 10px;
}
.box-4:hover{
    margin-right: 10px;
    margin-bottom: 10px;
}
.box-2 h1{
    color: #fff;
    font-size: 17px;
    rotate: 40deg;
}
.box-2{
    height: 120px;
    width: 120px;
    background-color: black;
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    rotate: -20deg;
    transition: .5s;
}
.main-heading{
    font-size: 50px;
    font-weight: 700;
}
/* nav-2 */
.nav-2{
    height: 100px;
    width: 100%;
    position: absolute;
    margin-top: 655px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.box-3 h1{
    color: #fff;
    font-size: 17px;
    rotate: 40deg;
}
.box-3{
    height: 120px;
    width: 120px;
    background-color: black;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    rotate: -20deg;
    transition: .5s;
}
.box-4 h1{
    color: #fff;
    font-size: 17px;
    rotate: -40deg;
}
.box-4{
    height: 120px;
    width: 120px;
    background-color: black;
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    rotate: 20deg;
    transition: .5s;
}
.toggle-btn{
    height: 30px;
    width: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}
.btn-1{
    height: 30px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-2{
    height: 30px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.on{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: none;
    background-color: rgb(165, 164, 164);
    cursor: pointer;
}
.off{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
}
/* center-box */
.center-box{
    height: 200px;
    width: 200px;
    cursor: pointer;
    background: #fff;
    border-radius: 20px;
    box-shadow: 3px 3px 25px 0px rgb(41, 37, 37);
}
.heading{
    height: 60px;
    width: 100%;
}
.line-1{
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.line-2{
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    color: rgb(226, 195, 58);
}
.line-3{
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
/* c-1 */
.center-img-1{
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-img-1 img{
    height: 140px;
    filter: grayscale();
}
/* c-2 */
.center-img-2{
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.center-img-2 img{
    height: 140px;
    filter: grayscale();
}
/* c-3 */
.center-img-3{
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.center-img-3 img{
    height: 140px;
    filter: grayscale();
}
/* c-4 */
.center-img-4{
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.center-img-4 img{
    height: 140px;
    filter: grayscale();
}
/* c-5 */
.center-img-5{
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.center-img-5 img{
    height: 140px;
    filter: grayscale();
}
/* mul-boxes */
/* mul-1 */
.mul-box-1{
    height: 200px;
    width: 200px;
    cursor: pointer;
    background: #fff;
    border-radius: 20px;
    box-shadow: 3px 3px 25px 0px rgb(41, 37, 37);
    position: absolute;  
    margin-left: -850px;
    margin-bottom: 300px;
    display: none;
}
/* mul-2 */
.mul-box-2{
    height: 200px;
    width: 200px;
    cursor: pointer;
    background: #fff;
    border-radius: 20px;
    box-shadow: 3px 3px 25px 0px rgb(41, 37, 37);
    position: absolute;  
    margin-left: 850px;
    margin-top: -300px;
    display: none;
}
/* mul-3 */
.mul-box-3{
    height: 200px;
    width: 200px;
    cursor: pointer;
    background: #fff;
    border-radius: 20px;
    box-shadow: 3px 3px 25px 0px rgb(41, 37, 37);
    position: absolute;  
    margin-left: -850px;
    margin-bottom: -300px;
    display: none;
}
/* mul-4 */
.mul-box-4{
    height: 200px;
    width: 200px;
    cursor: pointer;
    background: #fff;
    border-radius: 20px;
    box-shadow: 3px 3px 25px 0px rgb(41, 37, 37);
    position: absolute;  
    margin-left: 850px;
    margin-bottom: -300px;
    display: none;
}
.icon{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: gray;
}
.experience{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    color: rgb(190, 173, 15);
}
.exp{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    color: gray;
}
